.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  color: white;
  padding: 1%;
  font-size: 24px;
  background-color: black;
  width: 100%;
}

.main{
  background-color: #e1f5fe;
}

.dark {
  background-color: black;
  color: white !important ;
}

.light {
  background-color: white;
  color: black !important;
}
